body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Typography */
h1{
    font-family: Inter;
    font-weight: 600;
    font-size: 50px;
    color: white;
    margin: 0;
}
h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 40px;
    color: black;
    margin: 0;
}
h3{
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    color: #FF5959;
    margin: 0;
}
h4{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}
/* Common classes */
.flex-container{
    display: flex;
    align-items: center;
}
.amount{
    background-color: #FAFAFA;
    margin: 10px;
    padding: 20px;
    border-radius: 6px; 
}
.btn{
    background-color: #FF5959;
    border-radius: 6px;
    padding: 13px 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
/* Hero banner */
.hero-container{
    height: 80vh;
    background-image: url(./Images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.main-container{
    width: 700px;
    margin: auto;
}
.main-container p{
    color: white;
    padding-bottom: 20px;
}
/* Donate Today */
.donate-today{
    width: 650px;
    margin: auto;
    padding: 70px 0 0 30px;
    text-align: center;
}
/* Third section */
.third-container{
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
}
#tk{
    background-color: #FFEEEE;
    margin: 10px;
    padding: 20px;
    border-radius: 6px; 
    border: 2px solid #FF5959; 
}
#tk h3{
    color: #FF5959;
}
/* Fourth section */
.fourth-container{
    width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
}
.email{
    width: 100%;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
    color: #000000;
}
::placeholder{
    color: #B3B3B3;
    font-weight: bold;
}
/* Sixth section */
.sixth-container{
    width: 1200px;
    margin: auto;
}
.food-con{
    margin: 20px;
    padding: 30px;
    border-radius: 6px;
}
.food{
    background-color: #4f9da61a;
}
.shelter{
    background-color: #ff59591a;
}
.education{
    background-color: #FFF4D6;
}
/* Section eight */
.eighth-container{
    padding-bottom: 70px;
}
.sign-up{
    width: 800px;
    margin: auto;
    padding: 40px 0;
    border-radius: 6px;
    text-align: center;
    background-color: #FFF4D6;
}
.newslatter{
    width: 50%;
    padding: 13px;
    border-radius: 0;
}
.sbs{
    width: 20%;
    background-color: #FF5959;
    border-radius: 0;
    padding: 13px;
    color: white;
    margin-left: -3px;
    font-weight: bold;
    font-size: 16px;   
}
/* Footer */
footer{
    background-color: #000000;
    text-align: center;
    padding: 40px 0;
}
footer h5{
    margin: 0;
    font-family: ;
    font-weight: bold;
    font-size: 40px;
    color: #FF5959;
}
footer p{
    color: white;
}